* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#mensagem {
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    color: #fff;
    padding: 35px 45px;
    border-radius: 5px;
    display: none;
}


body {
    background-color: #251605;
    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

.resultado-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000a;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultado-modal.hide {
    display: none;
}

.resultado-container {
    background-color: #eee;
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.resultado-container h1 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #47891e;
}

.resultado-container img {
    width: 80%;
}

header {
    background-color: #628B48;
    padding: 10px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    border-top: 20px;
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 1300px;
    position: relative;
}

.title {
    font-size: 2.5rem;
    color: #eee;
}

.nivel {
    outline: 0;
    font-family: inherit;
    font-size: 16px;
    text-align: center;
    border-left: 20px;
    transform: translateY(-50%);
    border-radius: 30px;
    padding: 5px 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabuleiro {
    width: 1000px;
    height: 500px;

    background-color: #628B4855;
    border-radius: 3px;
    margin: 20px;
}

.tabuleiro.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabuleiro-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabuleiro-container:hover,
.tabuleiro-container.destacado {
    background-color: transparent;
    outline: 2px dashed #fff8;
    background-color: #ffffff10;
}


.baralho {
    align-items: center;
    background-color: #FFFa;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100px;
    padding: 5px 0px;
    width: 100%;
}

.baralho .bloco {
    margin: 5px;
    transition: box-shadow .5s ease-out;
}

.baralho .bloco:hover {
    box-shadow: 0px 0px  15px 5px #0005;
}

.tabuleiro-container .bloco:hover {
    filter: brightness(1.1);
}

/* HTML: <div class="loader"></div> */
.loader {
  display: none;
  width: 32px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side,#000 90%,#0000);
  background: var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 40% 40%;
  animation: l46 1s infinite;
}
@keyframes l46 {
  0%  {background-position: 0 0      ,100% 0,100% 100%,0 100%}
  40%,
  50% {background-position: 100% 100%,100% 0,0    0   ,0 100%}
  90%,
  100%{background-position: 100% 100%,0 100%,0    0   ,100% 0}
}

footer {
    background-color: #FFFa;
    padding: 30px 10px;
    text-align: center;
}

a, a:visited {
    color: #47891e;
}

@media screen and (max-width: 770px) {
    .tabuleiro {
        width:750px;
        height: 400px;
    }
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 2rem;
    }
    
    .tabuleiro {
        width: 350px;
        height: 300px;
    }
}

