* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #251605;
    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

header {
    background-color: #628B48;
    padding: 10px 0px;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    color: #eee;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabuleiro {
    width: 1000px;
    height: 500px;
    background-color: #628B4855;
    border-radius: 3px;
    margin: 20px;
}

.baralho {
    align-items: center;
    background-color: #FFFa;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100px;
    padding: 5px 0px;
    width: 100%;
}

.baralho .bloco {
    margin: 5px;
    transition: box-shadow .5s ease-out;
}

.bloco:hover {
    box-shadow: 0px 0px  15px 5px #0005;
}

/* HTML: <div class="loader"></div> */
.loader {
  display: none;
  width: 32px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side,#000 90%,#0000);
  background: var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 40% 40%;
  animation: l46 1s infinite;
}
@keyframes l46 {
  0%  {background-position: 0 0      ,100% 0,100% 100%,0 100%}
  40%,
  50% {background-position: 100% 100%,100% 0,0    0   ,0 100%}
  90%,
  100%{background-position: 100% 100%,0 100%,0    0   ,100% 0}
}

footer {
    background-color: #FFFa;
    padding: 30px 10px;
    text-align: center;
}

a, a:visited {
    color: #47891e;
}

@media screen and (max-width: 770px) {
    .tabuleiro {
        width:750px;
        height: 400px;
    }
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 2rem;
    }
    
    .tabuleiro {
        width: 350px;
        height: 300px;
    }
}

